
<nav class="nav"> 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-bar" >  
             <img src="img/button_back.png" alt="" class="btn-img pointer card-3" ng-click="goPath('viewG')"/> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 title"> 
            
            <span class="title-label">  
                {{title}} 
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left-bar"> 

        </div>
    </div> 
</nav> 

<section class="view view-1">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('connectome')">
                    <img src="img/icon_connectome.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('joaninha')">
                    <img src="img/icon_joaninha.png" alt="" class="card card-5"/> 
                </a>

                <div class="caption">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">


                <a class="item item-avatar" href="#/view2" ng-click="checkGame('breakout')">
                    <img src="img/icon_breakout.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('looktable')">
                    <img src="img/icon_looktable.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('tangran')">
                    <img src="img/icon_tangran.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('genius')">
                    <img src="img/icon_genius.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>  
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/view2" ng-click="checkGame('tetris')">
                    <img src="img/icon_tetris.png" alt="" class="card card-5"/> 
                </a>
                <div class="caption">

                </div>
            </div>
        </div>   
    </div>  
</section>
 