<nav class="nav"> 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-bar" > 
            <img src="img/button_back.png" alt="" class="btn-img pointer card-3" ng-click="goPath('viewG')"/> 

            <div class="trophy"> 
                <img class="trophy-img" src="img/icone_trofeu.png" alt=""/>
                <span class="trophy-label">  
                    {{dashboard.ngames}} 
                </span>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 title"> 

            <span class="title-label">  
                {{title}}
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left-bar"> 

            <button class="btn fa fa-user" ng-click="goPath('viewP')">  </button>
            <button class="btn fa fa-refresh "  ng-click="syncData()"></button>  

        </div>
    </div> 
</nav>

<section class="view view-3 container" >
    <div class="row">
        <section class="view view-4 container" >  

            <div ng-show="!statePoints" ng-include="'games/ranking/ranking.html'"></div>
            <div ng-show="statePoints">
                <span class="control-label alert-warning" ng-show="statePoints">{{stateMessage}} </span>
               
                <div class="list_points" ng-show="statePoints"> 
                    <div ng-repeat="point in points" class="form-group"> 

                        <span class="control-label">{{point.gameId}}  </span>
                        <img src="img/icone_moves.png" alt=""/>
                        <span class="control-label "> {{point.velocidade * point.time / 1000| number: 0}} movimentos</span>
                        <img src="img/icone_times.png" alt=""/>
                        <span class="control-label"> {{point.time / 60| number:0}} segundos</span>
                        <p>{{point.fullname}} tem {{point.pontuacao| number:2}} pontos nessa sessão</p>

                    </div>  
                </div> 
            </div>


        </section> 

    </div>  

</section> 

<div class="ranking-control "  >

    <ul>

        <li>
            <div class="trophy"> 
                <img class="trophy-img" src="img/icone_trofeu.png" alt=""/>
                <span class="trophy-label">  
                    {{dashboard.ngames}} JOGADAS
                </span>
            </div>
        </li> 

        <li>  
            <span>  
                Jogo
            </span>
            <select id="game">
                <option value="connectome">connectome</option>  
                <option value="joaninha">joaninha</option>  
                <option value="breakout">breakout</option>  
                <option value="looktable">looktable</option>  
                <option value="tangran">tangran</option>  
                <option value="genius">genius</option> 
                <option value="tetris">tetris</option> 
            </select>
        </li>
        <li>
            <span>  
                Grupo
            </span>
            <select id="circle">
                <option value="0">Geral</option>  
                <option value="1">Meu grupo</option>

            </select>
        </li>
        <li>
            <span>  
                Nível
            </span>
            <select id="level">
                <option value="0">Básico</option>
                <option value="1">Intermediário</option>
                <option value="2">Avançado</option> 
            </select>
        </li>
        <li ng-show="stateGamer"> 
            <span class="control-label">Login:</span>
            <p> {{user.login}}</p>
            <span class="control-label">Nome Completo:</span>
            <p> {{user.fullname}}</p>  
        </li>
        <li ng-show="stateGamer">

            <span class="control-label">Grupo:</span>
            <p> {{user.group}}</p>
        </li
    </ul>
</div>
<div class="baloon baloon-left card card-5 {{hidden}}"> 
    <div class="baloon-baloon" >  
        <button class="btn fa fa-close baloon-btn" ng-click="closeAlert()"></button>  

        <span class="baloon-label">  
            {{message}}

        </span>

        <button class="btn fa fa-refresh " ng-show="statePoints" ng-click="syncData()">Sincronizar</button>  

        <button class="btn fa fa-gamepad " ng-show="!statePoints" ng-click="goPath('view1')">Jogar</button>  
    </div> 

</div>